.container {
    margin-left: 10;
    margin-right: 0;
}

body {
    padding: 10;
    margin: 0;
}

.jumbotron {
    height: 375px;
    background-image: url("/static/Images/healthWealth.jpg");
    background-size: cover;
    background-position: center center no repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

#map,
body,
html {
    height: 100%;
}

#healthTable {
    width: 70%;
    margin-left: 60px;
    margin-top: 60px;
}

#healthTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #1f77b4;
    color: white;
}

tbody {
    text-align: center;
}

#healthTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.leaflet-popup-content {
    text-align: center;
    font-size: 14px;
}

h2 {
    position: absolute;
    bottom: 300px;
    left: 650px;
    margin-top: 0;
    padding-top: 0;
}

h5 {
    text-align: center;
}